
<!DOCTYPE html>
<html>
<head>
    <title>Ankifier!</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
	<script type="text/javascript" src="static/main.js"></script>
</head>
<body>

    <form method="GET" action="/word">
        Word:<input type="text" name="w" value=""></input><br>
        Sentence (optional): <input type="text" name="s" value=""></input><br>
        <input type="submit"></input>
    </form>
    <br>
    <br>
    <form method="POST" action="/sync">
        <input type="submit" value="Sync ♻️">
    </form>

    <form method="POST" action="/set_lang">
    <br>
    Language of dictionary: <select name="lang_code">
    {% for lang_code, lang_name in language_pairs.items() %}
        <option value="{{lang_code}}" {% if selected_language == lang_code %} selected {% endif %} >{{lang_name}}</option>
    {% endfor %}
    </select>
    <br>
    <input type="submit" value="Save">
    </form>

</body>
</html>
